*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: rgb(54,54,171);
background: linear-gradient(135deg, rgba(54,54,171,1) 0%, rgba(22,164,164,1) 22%, rgba(27,157,166,1) 80%, rgba(81,81,190,1) 100%);
}

#can{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #121212;
    border: 1px solid #040b24;
}

#score_board{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    height: 480px;
    text-align: center;
    padding: 12px;
    background-color: transparent;
    color: #ccc;
    font-size: 2em;
    font-family: 'Metal Mania', cursive;
}

#score_user{
        position: absolute;
        left: 50%;
        top: 60%;
        transform: translate(-50%, -50%);
        width: 85%;
        height: 480px;
        text-align: center;
        padding: 12px;
        background-color: transparent;
        color: #ccc;
        font-size: 2em;
        font-family: 'Metal Mania', cursive;
}